<md-card>
  <md-card-content>

    <div class="repo">

      <h2 class="repo__title">
        <a href="{{ vm.repo.html_url }}" target="_blank">{{ vm.repo.full_name }}</a>
      </h2>

      <ul class="repo__fork">
        <li class="repo__fork__item" ng-repeat="fork in vm.repo.forks">
          <a ui-sref="repo.view({ repoOwner: fork.owner.login, repoName: fork.name })">{{ fork.full_name }}</a>
        </li>
      </ul>

      <p>{{ repo.description }}</p>

    </div>

    <div ng-if="vm.repo.prs.length">

      <h3>Pull Requests</h3>

      <div class="repo__issues">
        <md-list>
          <md-item ng-repeat="issue in vm.repo.prs">
            <md-item-content>
              <div class="repo__issue md-tile-content">
                <h4>{{ issue.title }}</h4>
                <a class="repo__issue__link" ng-href="{{ issue.html_url }}" target="_blank">View issue</a>
              </div>
            </md-item-content>
          </md-item>
        </md-list>
      </div>

    </div>

    <div ng-if="vm.repo.issues.length">

      <h3>Issues</h3>

      <div class="repo__issues">
        <md-list>
          <md-item ng-repeat="issue in vm.repo.issues">
            <md-item-content>
              <div class="repo__issue md-tile-content">
                <h4>{{ issue.title }}</h4>
                <a class="repo__issue__link" ng-href="{{ issue.html_url }}" target="_blank">View issue</a>
              </div>
            </md-item-content>
          </md-item>
        </md-list>
      </div>

    </div>

  </md-card-content>
</md-card>
